# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.brf
*.dvi
*.ps
# Additional common LaTeX files
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
# Obsidian workspace
.obsidian/workspace.json 

# Ignore PDFs
*.pdf 
# Include PDFs in sources (e.g. Papers)
!**/sources/*.pdf

# Quartus build database
db/

# Quartus Generated output files
output_files/

# Generated configuration files
*_assignment_defaults.qdf

# Backup files
*.bak
